<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
        <title>Udacity Template!</title>
    </head>

    <body style="margin: 0">
        <h1 style="background-color: #ddd; color: #888; margin: 0; height: 50px">
            <a href="/blog">Blog</a>
            |
            <a href="/blog/newpost">New Post</a>
        </h1>
          <div class="login-area">
            {% if user %}
                {{user.name}} (<a class="login-link" href="/logout">logout</a>)
            {% else %}
            <a class="login-link" href="/login">login</a>
            |
            <a class="login-link" href="/signup">signup</a>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>